
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@mixin media-sm {
    @media (min-width: 320px) and (max-width: 480px) {
        @content;
    }
}

@mixin media-md {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin animated {
    @keyframes progress{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
};
}
